@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Montserrat:wght@400;600&family=Raleway:wght@400;700&display=swap');

/* @import url('https://db.onlinewebfonts.com/c/d4f5fcc79b23365515f5c98b7efea6e9?family=Feeling+Passionate+Personal+Use'); */

:root {
	--off-white: #f7f7f9;
	--gray: #7e7275;
	--light-gray: #d9d9d9;
	--dark: #272525;
	--dark-blue: #30374e;
	--light-blue: #6a9da9;
	--gold: #b89848;
	--dark-brown: #a06134;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: hidden;
	width: 100vw;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	background-color: var(--off-white);
	overflow-x: hidden;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	width: 100vw;
	padding: 0 2rem;
	font-size: 1.4rem;
	background-color: var(--off-white);
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.164);
	z-index: 100;
}

.nav-logo {
	height: 100%;
	width: 220px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s ease-in-out;
}

.nav-logo img {
	height: 100%;
	width: 100%;
}

.nav-list {
	display: flex;
	margin-left: auto;
	font-weight: bold;
	list-style-type: none;
}

.nav-list a {
	/* GSAP */
	opacity: 0;
	transform: translateX(100%);

	/* UNDERLINE ANIMATION */
	position: relative;
	display: inline-block;
	margin: 3px 7px;
	padding: 3px;
	color: var(--dark-blue);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1;
}

/* UNDERLINE ANIMATION */
.nav-list a:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: var(--gold);
	border-radius: 1px;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}

/* UNDERLINE ANIMATION */
.nav-list a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav.active {
	height: 80px;
	transition: all 0.5s ease-in-out;
}

.nav.active a {
	transition: all 0.5s ease-in-out;
}

.burger {
	display: none;
}

/** ===== UTILITIES ===== */

.container {
	margin-top: 120px;
	padding: 0rem calc((100vw - 1300px) / 2);
}

.bold {
	font-weight: bold;
}

h3 {
	font-size: 1.6rem;
	color: var(--dark-blue);
}

.btn {
	height: 70px;
	width: 250px;
	padding: 10px 0;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: bold;
	border-color: var(--dark-blue);
	border-style: solid;
	border-width: 4px 9px;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.464);
}

.btn:hover {
	transform: scale(0.9);
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	text-decoration: none;
	z-index: 50;
}

.btn-container a {
	text-decoration: none;
}

.container a {
	text-decoration: none;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 300px;
	padding: 1rem;
	color: var(--dark-blue);
}

.blue {
	color: var(--dark-blue);
}

/* * ========== HOME ========== */
.home-banner {
	max-height: calc(100vh - 120px);
	width: 100%;
	margin-top: 120px;
}

.home-banner img {
	max-height: calc(100vh - 120px);
	width: 100vw;
}

.home-page .container {
	margin: 50px 10px 0;
}

.partner {
	text-align: center;
	margin: 3rem 0;
	font-size: clamp(1.2rem, 3vw, 1.9rem);
}

.home-testimonial {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 40%;
	padding: 2rem 6rem;
	font-family: inherit;
	font-size: 1.4rem;
	background-color: var(--light-gray);
	box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.464);
}

.left-quote {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
}

.right-quote {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1rem;
}

.home-testimonial h3 {
	font-weight: inherit;
}

.home-testimonial p {
	margin-top: 2.5rem;
}

.home-content {
	margin: 6rem 0 4rem;
	background-color: var(--off-white);
	border-radius: 10px;
}

.home-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	/* text-align: center; */
	max-width: 100%;
	margin-bottom: 3rem;
	padding: 0;
	background: transparent;
}

.column {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	max-width: 500px;
	min-width: 300px;
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	background: transparent;
	border-radius: 10px;
	/* z-index: 200; */
}

.column h3 {
	margin-bottom: 1.5rem;
}

.column p {
	/*! home-column */
	position: relative;
}

.home-gold-squares {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 250px;
	transform: translate(-50%, -50%);
	z-index: -0;
}

.home-img-container {
	height: 300px;
	width: 400px;
}

.home-img-container img {
	height: 100%;
	width: 100%;
	border: 4px solid var(--dark-blue);
	border-radius: 50px;
}

.column p a {
	/*! home-column */
	color: var(--dark-blue);
	text-decoration: underline;
	cursor: pointer;
	z-index: 100;
}

.home-row .column {
	max-width: 600px;
	min-width: 300px;
	margin: 1rem 0;
	padding: 0 1rem 2rem;
}

.home-content .left-align {
	text-align: left;
	padding-left: 10px;
}

.home-content .right-align {
	text-align: right;
	padding-right: 10px;
}

.vision-bottom {
	margin-top: 1rem;
}

.testimonial-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 4rem;
}

.test-intro {
	margin-bottom: 2rem;
}

.test-header {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.testimonials {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem;
}

.test-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 600px;
	width: 500px;
	margin: 4rem 0;
	padding: 0.5rem;
	background-color: #f2f2f2;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.464);
}

.rating {
	margin: 1rem;
	font-size: 1.5rem;
	color: var(--gold);
	transition: all 1 ease-in-out;
}

.quote {
	margin-bottom: 1.8rem;
	font-size: 1.5rem;
	font-style: italic;
	color: var(--dark-blue);
}

.review {
	margin-bottom: 2.5rem;
}

.test-name {
	font-size: 2rem;
	font-style: italic;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.464);
}

.florence-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 550px;
	width: 100%;
	margin: 4rem 0 3rem;
}

.florence-banner img {
	max-height: 100%;
	width: 80%;
}

/** ===== SERVICES ===== */

#services {
	position: relative;
}

.gold-lines {
	position: absolute;
	max-height: 350px;
	max-width: 450px;
	z-index: -1;
}

.services-top .header h1 {
	font-size: clamp(2.2rem, 5vw, 3.5rem);
	font-weight: bold;
}

.services-btn {
	margin-bottom: 3rem;
}

.services-desc {
	text-align: center;
	width: 70%;
	margin: 0 auto 3rem;
}

.services-intro {
	text-align: center;
	width: 100%;
	margin: 3rem auto;
	line-height: 30px;
}

.services-photo-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 4rem;
}

.gray-block {
	position: absolute;
	height: 300px;
	width: 100vw;
	top: -30px;
	margin: 0 auto;
	background-color: var(--light-gray);
	z-index: -20;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 36.8rem;
	max-width: 30rem;
	min-width: 18rem;
	margin: 10px;
	background-color: #f2f2f2;
	border-radius: 20px;
	box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.464);
	z-index: 5;
}

.box-img-box {
	height: 300px;
	width: 100%;
	border-radius: 20px;
}

.box-img-box img {
	width: 100%;
	height: 100%;
	max-height: 300px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.box h4 {
	margin-bottom: 1rem;
	padding-top: 1rem;
	font-size: 1.3rem;
}

.box p {
	padding: 0.5rem;
	line-height: 20px;
}

.testimonial-img-container {
	height: 640px;
	min-height: 500px;
	min-width: 300px;
	max-width: 540px;
	margin: 4rem auto 0;
}

.testimonial-img-container img {
	height: 100%;
	width: 100%;
	box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.464);
}

.faq {
	margin: 4rem auto;
	width: 80%;
}

.faq h3 {
	margin-bottom: 2rem;
}

.question-btn {
	position: relative;
	text-align: left;
	height: 50px;
	width: 100%;
	padding-left: 1rem;
	background-color: #f2f2f2;
	font-size: 1.2rem;
	color: var(--dark-blue);
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.25s;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.464);
}

.question-btn i {
	position: absolute;
	right: 1rem;
	transition: 0.25s;
}

.rotate-icon {
	transform: rotate(180deg);
}

.faq-active .fa-angle-down {
	transform: rotate(180deg);
}

.faq-active,
.question-btn:hover {
	background-color: var(--dark-blue) !important;
	color: #f2f2f2 !important;
	transition: all 0.5s ease-in-out;
}

.answer {
	display: none;
	width: 98%;
	margin: 0 auto;
	padding: 1.2rem;
	font-size: 1.2rem;
	background-color: #f2f2f2;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.464);
}

.faq button:hover {
	background-color: var(--dark-blue);
	color: #f2f2f2;
}

.answer-list {
	font-size: inherit;
	transition: all 0.5s ease-in-out;
}

.answer-list p:first-child {
	margin: 1rem 0 1rem 3%;
}
.answer-list p:not(:first-child) {
	margin-left: 6%;
}

.answer-list p:before {
	content: '•';
	margin-right: 5px;
	font-size: 1.4rem;
	line-height: 8px;
	color: rgb(100, 100, 100);
}
.answer-list p:first-child:before {
	content: '';
}

/** ===== ABOUT US ===== */

.header h1 {
	font-size: clamp(2.2rem, 5vw, 3.2rem);
	padding-bottom: 1rem;
}

.header p {
	font-size: clamp(1.2rem, 3vw, 1.9rem);
}

#about-us .gray-block,
#contact .gray-block {
	top: 0;
}

.about-content {
	max-width: 100%;
	margin-top: 2rem;
	padding: 1rem;
}

.top {
	text-align: center;
	max-width: 80%;
	margin: 0 auto 4rem;
}

.about-desc {
	width: 80%;
}

.about-desc h4 {
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: inherit;
}

.about-desc p {
	margin-bottom: 3rem;
}

/* .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	max-width: 100%;
	margin-bottom: 3rem;
	padding: 0;
	background-color: var(--dark-blue);
	border-radius: 10px;
	opacity: 0;
} */

.blue {
	font-weight: bold;
	color: var(--dark-blue);
}

.gray-strip {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
	height: 150px;
	width: 100%;
	padding: 0 20rem;
	overflow: visible;
	background-color: var(--light-gray);
}

.gray-strip .btn-container {
	margin: 0 auto;
}

.gray-strip p {
	position: absolute;
	text-align: center;
	font-size: 2rem;
	color: var(--dark-blue);
}

.gray-strip .gold-squares {
	position: absolute;
	height: 120%;
	left: 0;
}

.gray-strip .gold-squares-right {
	position: absolute;
	height: 120%;
	right: 0;
}

.over36 {
	left: 0;
	padding-left: 6.5rem;
}

.extension {
	padding-right: 6.5rem;
	right: 0;
}

.hospital-icon {
	position: absolute;
	left: 1rem;
}

.chevron-up {
	position: absolute;
	right: 1rem;
}

.sub-link {
	margin-top: 4rem;
	font-size: 1.8rem;
	color: var(--dark-blue);
}

.bio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0rem calc((100vw - 1300px) / 2);
	padding-bottom: 3rem;
}

.bio h3 {
	margin-right: auto;
	padding: 3rem 3rem 0;
	font-size: clamp(1.4rem, 5vw, 1.9rem);
	color: var(--dark-blue);
	border-radius: 10px;
}

.founder-column {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 3rem;
	padding: 0 5rem;
}

.about-img-container {
	position: relative;
	border-radius: 50%;
}

.founder-photo {
	display: block;
	height: 500px;
	width: 500px;
	margin: 0 auto;
}

.gold-circle {
	position: absolute;
	top: -30px;
	left: -35px;
	height: 600px;
	width: 600px;
}

.name {
	position: absolute;
	bottom: 30px;
	left: 450px;
	height: 2.8rem;
}

.about-info {
	max-height: 500px;
	width: 50%;
	max-width: 900px;
	margin: 4rem 0 2rem;
	padding: 3rem 2rem;
	line-height: 25px;
}

.bio .sub-link {
	text-decoration: underline;
}

.affiliations-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	height: 200px;
	width: 100%;
	margin-top: 2rem;
	background-color: var(--light-gray);
}

.aff-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 150px;
	width: 200px;
}

.aff-box img {
	height: 80px;
	max-width: 100%;
	margin-bottom: 10px;
}

.a1 img {
	background-color: #fff;
}

.a2 img {
	height: 120px;
	width: 120px;
}

/** Why hire with LNC */
#why-hire .header {
	padding-bottom: 0;
	margin-bottom: 0;
}

.box-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.box-container p {
	text-align: center;
	width: 70%;
	margin-bottom: 2rem;
	background-color: var(--off-white);
}

.img-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 50%;
	width: 50%;
	min-width: 350px;
	margin: 1rem 0 2rem;
}

.img-box img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.block {
	position: absolute;
	left: -25%;
	height: 100px;
	width: 125%;
	margin-bottom: 15rem;
	padding: 0;
	background-color: var(--dark-blue);
	opacity: 0;
	border-radius: 0 25px 25px 0;
	z-index: -10;
}

#different .container {
	margin-top: 0;
}

#different .btn-container {
	margin-bottom: 3rem;
}

.why {
	text-align: center;
	margin: 1rem 0 2rem;
	font-size: 2.5rem;
}

#different .btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

/** ===== CONTACT =====  */
#contact {
	position: relative;
	height: 100%;
}

.contact-header p {
	text-align: center;
	margin-top: 1.5rem;
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 4rem 0;
}

.contact-us {
	text-align: center;
	margin-top: 3rem;
	font-size: clamp(2rem, 5vw, 2.7rem);
}

.form-container {
	min-width: 250px;
	max-width: 700px;
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: var(--dark-blue);
	border-radius: 10px;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.464);
}

.form-container h3 {
	text-align: center;
	margin-bottom: 2rem;
	margin-left: auto;
	color: #fff;
}

.contact-form {
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
	padding: 20px 25px;
	border-radius: 4px;
	box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.464);
	z-index: 25;
}

label {
	width: 100%;
	padding: 10px 0;
}

input,
textarea {
	display: block;
	min-width: 100%;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 2px;
	background: #fff;
	font-family: inherit;
	font-size: inherit;
	font-weight: lighter;
	outline: 0;
	transition: border-color 0.3s ease-in-out;
	color: #333;
}

input:focus,
textarea:focus {
	transition: border-color 0.3s ease-in-out;
	background: rgba(255, 255, 255, 0.8);
	border: 2px groove var(--gold);
}

textarea {
	resize: none;
	height: 120px;
}

.contact-form .btn {
	margin: 1rem auto;
}

.info-work {
	padding: 2rem;
	font-size: 1.2rem;
	line-height: 25px;
}

.info-work a {
	font-weight: bold;
	color: var(--dark-blue);
	text-decoration: underline;
}

.contact-info {
	display: flex;
	flex-direction: column;
}

.email {
	margin-bottom: 2rem;
}

.bottom-gold-lines {
	position: absolute;
	bottom: -66px;
	right: 0;
	transform: rotate(180deg);
	z-index: -1;
}

/** ===== BLOG =====  */
.blog-container {
	position: relative;
	margin: 0;
}

.gray-blog {
	position: absolute;
	display: flex;
	align-items: center;
	top: 350px;
	left: 0;
	height: 300px;
	width: 100vw;
	background-color: var(--light-gray);
	z-index: -20;
}

.blog-card {
	max-height: 100%;
	width: 80%;
	margin: 0 auto 3rem;
	background-color: var(--off-white);
	border-radius: 15px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.164);
}

.blog-card h3 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	background-color: var(--dark-blue);
	color: var(--off-white);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/* BLOG PAGE TITLE UNDERLINE ANIMATION */
.blog-card h3 a {
	position: relative;
	display: inline-block;
	margin: 3px 7px;
	padding: 1rem;
	color: var(--off-white);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1;
}

/* BLOG PAGE TITLE UNDERLINE ANIMATION */
.blog-card h3 a:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 10px;
	left: 0;
	background-color: var(--gold);
	border-radius: 1px;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}

/* BLOG PAGE TITLE UNDERLINE ANIMATION */
.blog-card h3 a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.blog-img {
	max-height: 350px;
	width: 50%;
	margin: 0 auto 1rem;
}

.blog-img img {
	height: 100%;
	width: 100%;
	border-radius: 15px;
}

.blog-card p {
	margin: 0 1rem;
}

.btn-container {
	width: 100%;
}

.blog-btn {
	height: 40px;
	width: 120px;
	margin: 1rem;
	font-size: 1rem;
	outline: none;
	border: 2px groove var(--dark-blue);
	border-radius: 5px;
	box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.464);
	cursor: pointer;
}

.blog-btn a {
	color: var(--dark-blue);
	font-weight: bold;
}

.blog-btn:hover {
	transform: scale(0.5);
}

.blog-btn:active {
	transform: scale(0.95);
}

/** BLOG POSTS  */

/* .post-container {
	padding: 0rem calc((100vw - 1300px) / 2);
} */

.blog-title {
	text-align: center;
	width: 100%;
	/* margin: 3rem 0; */
	font-size: clamp(1.8rem, 5vw, 3rem);
}

/* .blog-banner {
	height: auto;
	min-height: 200px;
	width: auto;
}

.blog-banner img {
	height: 100%;
	min-height: 200px;
	width: 100%;
	object-fit: contain;
} */

.blog-body {
	margin: 2rem 2rem 5rem;
	padding: 0 10% 4rem;
	background-color: var(--off-white);
	border: 6px groove var(--gold);
}

.blog-post-box {
	width: 80%;
	margin: 0 auto;
}

.blog-post-box img {
	height: 100%;
	width: 100%;
	margin: 1rem 0 2rem;
}

.blog-body p a {
	color: var(--dark-blue);
	/* font-weight: bold; */
}

.blog-heading {
	margin: 3rem 0 2rem;
}

.blog-ul {
	margin-left: 30px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
	background-color: var(--dark-blue);
	color: #fff;
}

.socials i {
	margin: 0 1.5rem;
	font-size: 2rem;
	color: #fff;
}

.toggle .top-line {
	transform: rotate(-45deg) translate(-7px, 7px);
	transition: transform 0.3s ease-in-out;
}

.toggle .mid-line {
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s ease-in-out;
}
.toggle .bottom-line {
	transform: rotate(45deg) translate(-7px, -7px);
	transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 651px) {
	.title {
		text-align: left;
	}

	input:first-child {
		float: left;
		width: 290px;
	}

	input:nth-child(2) {
		float: right;
		width: 290px;
	}
}

/* ``````````````````````` */

@media screen and (max-width: 1300px) {
	.home-content {
		margin-top: 5rem;
	}
	.box-container,
	.about-desc {
		padding: 1rem;
	}
}

@media screen and (max-width: 1180px) {
	.header-text {
		max-width: 800px;
	}
	.box-container p {
		width: 100%;
	}
	.block {
		height: 70px;
	}
	.founder-column {
		padding: 0;
	}
	.over36 {
		padding-left: 5rem;
	}
	.extension {
		padding-right: 5rem;
	}
	.gray-strip p {
		font-size: 1.5rem;
	}
	.form-container {
		padding: 1rem;
	}
	.form-container h3 {
		margin-bottom: 1rem;
		font-size: 1.4rem;
	}
	.contact-form {
		margin: 0;
		padding: 5px;
	}
}
@media screen and (max-width: 1040px) {
	.testimonials {
		flex-direction: column;
		align-items: center;
	}
	.florence-banner {
		width: 100%;
	}
	.florence-banner img {
		width: 96%;
	}
	.name {
		bottom: 0;
		left: 400px;
	}
	.blog-img {
		width: 60%;
	}
}

@media screen and (max-width: 900px) {
	.video-container {
		height: 60vh;
	}
	.home-top {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	/* .home-testimonial {
		height: 40%;
	} */
	.home-content {
		margin-top: 2rem;
	}
	.home-content .home-row {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.column {
		/*! home-column */
		max-width: 90%;
		margin-top: 1rem;
	}
	.home-content .left-align {
		margin-right: auto;
	}
	.home-row .right-align {
		margin-left: auto;
	}
	.home-row:nth-child(2) {
		flex-direction: column-reverse;
	}
	.home-row:nth-child(4) {
		flex-direction: column-reverse;
	}
	.home-img-container {
		height: auto;
		max-height: 400px;
		width: auto;
		max-width: 60%;
	}
	.about-info {
		max-height: 700px;
		padding: 0;
	}
	.founder-column {
		flex-direction: column;
		align-items: center;
		margin-bottom: 5rem;
	}
	.gray-strip {
		padding: 0;
	}
	.gray-strip p {
		height: 100%;
		width: 50%;
		padding: 0;
		font-size: 1rem;
	}
	.gray-strip p br {
		display: none;
	}
	.bio h3 {
		margin-left: auto;
		padding: 2rem 0 0;
	}
	.name {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 2.3rem;
	}
	.contact-container {
		justify-content: center;
		margin-bottom: 0;
		margin-top: 0;
	}
	.contact-column {
		margin: 2rem 1rem;
	}
	.contact-row {
		flex-direction: column;
		padding: 0;
	}
	.info-work {
		padding: 0;
		margin-left: 5%;
	}
	.form-container {
		margin-right: auto;
		padding: 1rem 0.5rem;
	}
}

@media screen and (max-width: 815px) {
	.nav {
		height: 80px;
	}
	.burger {
		position: relative;
		display: block;
		margin-left: auto;
		user-select: none;
	}
	.burger .line {
		height: 4px;
		width: 35px;
		margin: 6px;
		background-color: var(--dark-blue);
		border-radius: 3px;
		transition: 0.3s ease-in-out;
	}
	.nav-logo {
		width: 150px !important;
	}
	.nav-list {
		position: fixed;
		flex-direction: column;
		height: calc(var(--vh, 1vh) * 100 - 80px);
		width: 100%;
		bottom: 0;
		right: 0;
		background-color: var(--dark-blue);
		transform: translateX(-140vw);
		transition: 0.4s ease-in-out;
	}
	.nav-list a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		margin-top: 2rem;
		font-size: 1.2rem;
		color: #fff;
	}
	.open {
		transform: translateY(0vw);
		margin-top: 5rem;
	}
	.container {
		margin-top: 80px;
	}
	.home-banner {
		margin-top: 80px;
	}
	.header {
		height: 150px;
		padding: 0.5rem;
	}
	.testimonials {
		padding: 0;
	}
	.gray-block {
		height: 150px;
		top: 120px;
	}
	.gold-lines {
		height: 200px;
		width: 250px;
		top: 80px;
		left: 0;
	}
	.bottom-gold-lines {
		bottom: 0;
		height: 200px;
		width: 250px;
	}
	#services .gold-lines,
	#contact .gold-lines {
		top: 0;
	}
	.faq {
		margin: 4rem auto;
		width: 98%;
	}
	.about-content {
		margin: 2rem 0 0;
		padding: 1rem;
	}
	.about-info {
		width: 90%;
	}
	.top {
		max-width: 95%;
		margin-bottom: 2.5rem;
	}
	.row,
	.bottom-row {
		flex-direction: column;
	}
	.about-column:first-child,
	.bottom-column:first-child {
		margin-bottom: 0;
		margin-right: 1rem;
	}
	#why-hire .header,
	#contact .header {
		padding: 0;
		margin: 0;
	}
	.box-container {
		padding-top: 0;
	}
	.contact-us {
		margin: 2rem 0 0;
	}
	.blog-img {
		width: 80%;
	}
}
@media screen and (max-width: 700px) {
	.home-img-container {
		min-width: 83%;
	}
	.bottom {
		padding: 0;
	}
	.info-work {
		margin: 0;
	}
	.sub-link {
		font-size: 1.2rem;
	}
	form {
		width: 100%;
		padding: 0;
	}
}

@media screen and (max-width: 540px) {
	.nav {
		padding: 0 0.5rem;
	}
	.home-img-container {
		min-width: 96%;
	}
	.test-card {
		height: auto;
		width: auto;
		min-height: 600px;
		max-width: 500px;
		padding: 5px;
	}
	.name {
		height: 1.8rem;
	}
	.home-row {
		margin: 0;
		padding: 0;
	}
	.services-desc {
		width: 90%;
	}
	.question-btn {
		font-size: 1.1rem;
		font-weight: inherit;
	}
	.column {
		margin: 0;
		padding: 1rem 0;
	}
	.about-content {
		padding: 1rem 10px;
	}
	.about-column {
		margin: 10px;
	}
	.about-desc {
		width: 100%;
		padding: 10px;
	}
	.florence-banner img {
		width: 100%;
	}
	.bottom-row {
		padding: 0;
	}
	.bottom-column {
		margin: 10px;
		padding: 10px;
	}
	.about-column:first-child,
	.bottom-column:first-child {
		margin-bottom: 0;
		margin-right: 10px;
	}
	.box {
		height: auto;
		min-height: 38.5rem;
	}
	.sub-link {
		font-size: 1.3rem;
	}
	.aff-box p {
		font-size: 14px;
	}
	#contact .header {
		height: auto;
	}
	#contact .header h1 {
		padding-top: 0.5rem;
	}
	.form-container {
		padding: 0 10px 10px;
	}
	.form-container h3 {
		margin: 0.5rem;
		font-size: 1.15rem;
	}
	.blog-card {
		width: 96%;
	}
	/* .post-container {
		padding: 10px;
	} */
	.blog-body {
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 490px) {
	#contact .gray-block {
		height: 200px;
	}
}
@media screen and (max-width: 450px) {
	.home-testimonial {
		padding: 4rem 2rem;
		font-size: 1.3rem;
	}
	.home-testimonial h3,
	.home-testimonial p {
		font-size: 1rem;
	}
	.testimonial-img-container {
		height: 530px;
	}
	.left-quote,
	.right-quote {
		height: 3.8rem;
		width: 3.8rem;
	}
	.sub-link {
		font-size: 1rem;
	}
	.gold-lines,
	.bottom-gold-lines {
		height: 150px;
		width: 200px;
	}
	.why {
		font-size: 2.2rem;
	}
	#contact .header h1 {
		font-size: 2rem;
		padding-top: 1.5rem;
	}
	footer p {
		font-size: 14px;
	}
}
@media screen and (max-width: 370px) {
	.test-header {
		font-size: 2.1rem;
	}
	.box h4 {
		font-size: 1.2rem;
	}
	.header h1 {
		font-size: 1.5rem;
	}
	#contact .header h1 {
		padding-top: 0.8rem;
		font-size: 1.8rem;
	}
	.info-work {
		padding: 0 10px;
	}
	.email {
		font-size: 1rem;
	}
	/* .home-testimonial {
		padding: 0;
	}
	.home-testimonial h3 {
		font-size: 1rem;
	}
	.left-quote,
	.right-quote {
		height: 3.8rem;
		width: 3.8rem;
	} */
}

@media screen and (max-height: 650px) {
	.btn {
		font-size: 1.2rem;
	}
	.home-top {
		height: 100%;
	}
	.home-testimonial {
		margin: 0 10%;
		padding: 2rem 5rem 1rem;
		font-size: 1.2rem;
	}
	.home-testimonial h3 {
		font-size: 1.2rem;
	}
	.florence-banner {
		height: auto;
	}
}
